@CHARSET "UTF-8";

#header {
	background-color: white;
	margin-top:0px;
}

#title {
	width: 450px;
	margin: 10px;
}

#nav-strip {
	height: 33px;
	background: url("../images/header/nav/bg4.png");
	border-top: 1px solid #669cca;
}

.nav {
	margin-left: 5px;
}

.nav.active {
	
}

#subnav-strips {
	height: 36px;
	background: url("../images/header/nav/subnav/sub-bg.png");
	border-bottom: 1px solid #D3D3D3;
}

.subnav {
	margin: 0 2em;
	line-height: 36px;
}

.subnav.active {
	color: #30557a;
}

.sub-title {
	text-align:center;
	height:32px;
	line-height:32px;
}
#mc-header {
    border:solid 1px  rgb(202, 209, 215);
    width:100%;
    margin-bottom:7px;
    padding:10px;
    border-collapse:collapse;
}