<p><div style="border-top:1px dashed #7A991A;height: 1px;overflow:hidden"></div></p>
<div class="conchart">
    <ul>
        <li><a id="periodswich_id" href="javascript:void(0)" rel="nofollow" >指定时段 </a></li>
        <li><a id="timeswitch_id" href="javascript:void(0)" rel="nofollow" >&nbsp;&nbsp; 小时 &nbsp;&nbsp;  </a></li>
    </ul>
</div>
<div style="border:1px solid #7A991A">
    <div id="periodchart" style="height: 400px; margin: 0 auto"></div>
    <div id="timechart" style="height: 400px; margin: 0 auto"></div>
</div>