<table id="mc-header">
    <tr>
        <td><b>报表类型：</b></td>
        <td style="width:30%"><span id="reportType"></span>
            (<a id="uvRef" href="javascript:void(0);" >UV</a>
            |&nbsp;<a id="ipRef" href="javascript:void(0);" >IP</a>)
        </td>
        <td><b>播控名称：</b></td>
        <td><span id="mcName"></span>
        </td>
    </tr>
    <tr>
        <td><b>选择日期：</b> </td>
        <td><input class="Wdate" id='startDate' type="text" />
        </td>
        <td colspan="2"><input type='button' class="button" value='查询' id='search'/>
            <input type="button" class="button"  name="viewChart" value="查看分布图" id="switchLoction" firstElement="report"/> </td>
    </tr>
</table>